<div id="<%= dom_id sprint %>">
  <p>
    <strong>Name:</strong>
    <%= sprint.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= sprint.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= sprint.end_date %>
  </p>

</div>
